# [Required] listener defines how goldfish will listen to incoming connections
listener "tcp" {
	# [Required] [Format: "address", "address:port", or ":port"]
	# goldfish's listening address and/or port. Simply ":443" would suffice.
	address          = "{{goldfish_address | default("")}}:{{goldfish_port | default(8021)}}"

	# [Optional] [Default: 0] [Allowed values: 0, 1]
	# set to 1 to disable tls & https
	tls_disable      = {{goldfish_tls_disable | default(1)}}

	# [Optional] [Default: 0] [Allowed values: 0, 1]
	# set to 1 to redirect port 80 to 443 (hard-coded port numbers)
	tls_autoredirect = {{goldfish_tls_autoredirect | default(0)}}

	# One (and only one!) of the following is required (unless tls_disable == 1):

{% if goldfish_tls_cert_file is defined %}
	# [Option 1] the certificate file
	tls_cert_file    = "{{goldfish_tls_cert_file}}" # "cert.cert"
{% elif goldfish_tls_key_file is defined  %}
	# [Option 1] the private key file
	tls_key_file     = "key.pem" # "key.pem"
{% elif goldfish_tls_pki_path is defined  %}
	# [Option 2] [Required vault_token at launch time!]
	# provide a pki endpoint for goldfish to fetch certificates from.
	# goldfish will request new certificates at half-life and hot-reload
	# when using this option, bootstrapping at launch time is REQUIRED
	tls_pki_path     = "{{goldfish_tls_pki_path}}" # "pki/issue/<role_name>"
}

# [Required] vault defines how goldfish should bootstrap to vault
vault {
	# [Required] [Format: "protocol://address:port"]
	# This is vault's address. Vault must be up before goldfish is deployed!
	address         = "{{goldfish_vault_address}}"

	# [Optional] [Default: 0] [Allowed values: 0, 1]
	# Set this to 1 to skip verifying the certificate of vault (e.g. self-signed certs)
	tls_skip_verify = {{goldfish_tls_skip_verify | default(0)}}

	# [Required] [Default: "secret/goldfish"]
	# This should be a generic secret endpoint where runtime settings are stored
	# See wiki for what key values are required in this
	runtime_config  = "{{goldfish_runtime_config | default('secret/goldfish')}}"

	# [Optional] [Default: "auth/approle/login"]
	# You can omit this, unless you mounted approle somewhere weird
	approle_login   = "{{goldfish_approle_login | default('auth/approle/login')}}"

	# [Optional] [Default: "goldfish"]
	# You can omit this if you already customized the approle ID to be 'goldfish'
	approle_id      = "{{goldfish_approle_id | default('goldfish')}}"
}

# [Optional] [Default: 0] [Allowed values: 0, 1]
# Set to 1 to disable mlock. Implementation is similar to vault - see vault docs for details
# This option will be ignored on unsupported platforms (e.g Windows)
disable_mlock = 0
